@charset "utf-8";
/* CSS Document */

@font-face {
	font-family: 'mifuente';
	src: url('fonts/star.ttf') format('truetype');
}
@font-face {
	font-family: exotc;
	src: url('fonts/Exotc.ttf') format('truetype');
}

@font-face {
	font-family: impact;
	src: url('fonts/impact.ttf') format('truetype');
}
@font-face {
	font-family: cfdiamond;
	src: url('fonts/CFDiamond.ttf') format('truetype');
}


a:visited {
    color: white;
}
.frente{
	opacity: 100%;
	background-color: #4d4d4d;
	align-content:center;
	align-items: center;
	text-align: center;
	color: white;
}
.menuitem{
    border-radius: 15px;
    font-family: mifuente;
    font-size: 70pt;
    color: white;
    background-color: black;
    align-content: center;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    text-align: center;
    text-indent: 7px;
	cursor: pointer;
    transition-duration: 0.4s;
 }
.menuitem:hover {
	
	background-color: #FFA600;
	font-size: 85pt;
	color:black;
	
	}
.elemento{
    border-radius: 15px;
    font-family: mifuente;
    font-size: 60pt;
    color: white;
    background-color: black;
    align-content: center;
    margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
    text-align: left;
    text-indent: 7px;
	cursor: pointer;
    transition-duration: 0.4s;

 }
.elemento:hover,.elemento:active{
	background-color: white;
	color:black;
	opacity: 100%;
	
}
.texto{
	font-family: cfdiamond;
	color: white;
    font-size: 50pt;
    background-color: #4D4D4D;
    text-align: center;
	margin-top: 4px;
    margin-left: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    padding-bottom: 4px;
    padding-left: 4px;
    padding-top: 4px;
    padding-right: 4px;
	opacity: 85%;
}
.descripcion{
	font-family:exotc;
	font-size: 25pt;
	color: black;
	
}
.precio{
    font-family: Impact;
    font-size: 60pt;
    color: white;
    background-color: black;
    display: inline-block;
    border-radius: 5px;
    text-indent: 5px;
    text-align: right;
	position: relative;
}
